<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.student.mapper.AnswerSheetMapper">
	<!-- 학생이 낸 답안지 입력 -->
	<insert id="insertAnswerSheet" parameterType="gd.fintech.lms.student.vo.AnswerSheet">
		INSERT INTO answerSheet(
				multipleChoice_no,
				answer_id
				answer_select
				answer_score
		) VALUES (
			#{multipleChoiceNo},
			#{answerId},
			#{answerSelect},
			#{answerScore}
		)
	</insert>
	<!-- 학생이 낸 답안지 상세보기(정답 포함) -->
	<select id="selectAnswerSheetOne" parameterType="String"  resultType="gd.fintech.lms.student.vo.AnswerSheet">
		SELECT
			multipleChoice_no multipleChoiceNo,
			acount_id accountId,
			answer_select answerSelect,
			answer_score answerScore
		FROM
			answerSheet
		WHERE
			account_id=#{accountId}
	</select>
</mapper>