<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.student.mapper.ClassRegistrationMapper">
<!-- 수강신청 목록의 과목 상세보기 -->
<resultMap type="gd.fintech.lms.student.vo.ClassRegistration" id="ResultClassRegistration">
	<result property="classRegistrationNo" column="class_registraion_no"/>
	<result property="lectureNo" column="lecture_no"/>
	<result property="accountId" column="student_id"/>
	<result property="classRegistrationState" column="class_registration_state"/>
	<result property="classRegistrationPoint" column="class_registration_point"/>
	<result property="classRegistrationReview" column="class_registration_review"/>
	<result property="classRegistrationCreateDate" column="class_registration_createdate"/>
	<collection property="lectureInfo" ofType="gd.fintech.lms.manager.vo.Lecture">
		<result property="accountId" column="teacer_id"/>
		<result property="subjectNo" column="subject_no"/>
		<result property="teacherName" column="teacher_name"/>
		<result property="lectureName" column="lecture_name"/>
		<result property="textbookISBN" column="textbook_isbn"/>
		<result property="lectureStartDate" column="lecture_startdate"/>
		<result property="lectureEndDate" column="lecture_enddate"/>
		<result property="lectureTotal" column="lecture_total"/>
		<result property="syllabusNo" column="syllabus_no"/>
		<result property="classroomNo" column="classroom_no"/>
		<result property="lectureCreateDate" column="lecture_createdate"/>
		<result property="lectureUpdateDate" column="lecture_updatedate"/>
		<collection property="subjectInfoList" ofType="gd.fintech.lms.manager.vo.Subject">
			<result property="subjectNo" column="subject_no"/>
			<result property="subjectName" column="subject_name"/>
			<result property="subjectCreateDate" column="subject_createdate"/>
			<result property="subjectUpdateDate" column="subject_updatedate"/>
			<result property="subjectTotalDay" column="subject_totalday"/>
			<result property="subjectInfo" column="subject_info"/>
		</collection>
	</collection>
</resultMap>
		
	<!-- 학생이 신청한 수강목록 페이징 -->
	<select id="selectClassRegistrationListByPage"  parameterType="java.util.Map" resultMap="ResultClassRegistration">
		SELECT
			class_registration_no classRegistrationNo,
			lecture_no,
			account_id,
			class_registration_state,
			class_registration_point,
			class_registration_review,
			class_registration_createdate
		FROM
			class_registration
		WHERE account_id=#{accountId}
		LIMIT #{beginRow}, #{rowPerPage}
			
	</select>
	
	<!-- 학생이 신청한 수강의 강의 정보 -->
	<select id="selectClassRegistrationOne" parameterType="int" resultMap="ResultClassRegistration">
		SELECT
		cr.class_registration_no,
		cr.lecture_no,
		cr.account_id,
		cr.class_registration_state,
		cr.class_registration_point,
		cr.class_registration_review,
		cr.class_registration_createdate,
		lc.lecture_no,
		lc.account_id,
		lc.subject_no,
		lc.teacher_name,
		lc.lecture_name,
		lc.textbook_isbn,
		lc.lecture_startdate,
		lc.lecture_enddate,
		lc.lecture_total,
		lc.syllabus_no,
		lc.classroom_no,
		lc.lecture_createdate,
		lc.lecture_updatedate,
		sj.subject_no,
		sj.subject_name,
		sj.subject_createdate,
		sj.subject_updatedate,
		sj.subject_totalday,
		sj.subject_info
		FROM class_registration cr
			LEFT JOIN lecture lc
				ON cr.lecture_no = lc.lecture_no
			LEFT JOIN subject sj
				ON lc.subject_no = sj.subject_no
		WHERE cr.class_registration_no=#{classRegistration}
	</select>
	
	<!-- 수강신청 갯수 보기 -->
	<select id = "selectRegistrationCount" resultType="String">
		SELECT 
			COUNT(*) 
		FROM class_registration
		WHERE accountId=#{accountId}
	</select>
	
</mapper>