<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.student.mapper.QuestionMapper">
	<!--학생이 보는 질문게시판 리스트 페이징-->
	<select id="selectQuestionListByPage" parameterType="java.util.Map" resultType="gd.fintech.lms.student.vo.Question">
		SELECT
			question_no questionNo,
			Lecture_no lectureNo,
			account_id accountId,
			question_writer questionWriter,
			question_title questionTitle,
			question_content questionContent,
			question_createdate questionCreateDate,
			question_updatedate questionUpdateDate,
			question_count questionCount,
			question_password questionPassword
		FROM
			question
		WHERE lecutre_no
		ORDER BY question_no=#{questionNo} DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!--  학생 질문 목록 강사의 댓글과 파일 리스트 -->
	<select id="selectQuestionCount" parameterType="int" resultType="gd.fintech.lms.student.vo.Question">
		SELECT COUNT(*) FROM question
	</select>
	
	<resultMap type="gd.fintech.lms.student.vo.Question" id="ResultQustionOne">
		<result property="questionNo" column="question_no"/>
		<result property="lectureNo" column="lecture_no"/>
		<result property="accountId" column="account_id"/>
		<result property="questionWriter" column="question_writer"/>
		<result property="questionTitle" column="question_title"/>
		<result property="questionContent" column="question_content"/>
		<result property="questionCreateDate" column="question_createdate"/>
		<result property="questionUpdateDate" column="question_updatedate"/>
		<result property="questionCount" column="question_count"/>
		<result property="questionPassword" column="question_password"/>
		<collection property="questionComment" ofType="gd.fintech.lms.teacher.vo.QuestionComment">
			<result property="questionCommentNo" column="question_comment_no"/>
			<result property="questionNo" column="question_no"/>
			<result property="accountId" column="account_id"/>
			<result property="questionCommentWriter" column="question_comment_writer"></result>
			<result property="questionCommentContent" column="question_comment_context"/>
			<result property="questionCommentCreateDate" column="question_comment_createdate"/>
			<result property="questionCommentUpdateDate" column="question_comment-updatedate"/>
			<collection property="questionCommentFileList" ofType="gd.fintech.lms.teacher.vo.QuestionCommentFile">
				<result property="questionCommentFileUUID" column="question_comment_file_uuid"/>
				<result property="questionCommentFileOriginal" column="question_comment_file_original"/>
				<result property="questionCommentNo" column="qeustion_comment_no"/>
				<result property="questionCommentFileSize" column="question_comment_file_size"/>
				<result property="questionCommentFileType" column="question_comment_file_type"/>
				<result property="questionCommentFileCount" column="question_comment_file_count"/>
				<result property="questionCommentFileCreateDate" column="question_comment_file_createdate"/>
			</collection>
		</collection>
	</resultMap>
	
	<!-- 학생의 질문 상세보기 -->
	<select id="selectQuestionOne" parameterType="int" resultMap="ResultQustionOne">
		SELECT
			q.question_no,
			q.lecture_no,
			q.account_id,
			q.question_writer,
			q.question_title,
			q.question_content,
			q.question_createdate,
			q.question_updatedate,
			q.question_count,
			q.question_password,
			qc.question_comment_no,
			qc.question_no,
			qc.account_id,
			qc.question_comment_writer,
			qc.question_comment_content,
			qc.question_comment_createdate,
			qc.question_comment_updatedate,
			qcf.question_comment_file_uuid,
			qcf.question_comment_file_original,
			qcf.question_comment_no,
			qcf.question_comment_file_size,
			qcf.question_comment_file_type,
			qcf.question_comment_file_count,
			qcf.question_comment_file_createdate
		FROM question q
			LEFT JOIN question_comment qc
				ON q.question_no = qc.question_no
			LEFT JOIN question_comment_file qcf
				ON qc.question_comment_no = qcf.question_comment_no
		WHERE q.accoutId=#{accountId}	
	</select> 
	
	
	<!-- 질문 추가 -->
	<insert id="insertQuestion">
		<selectKey resultType="int" keyProperty="questionNo" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO question(
			question_no questionNo,
			lecture_no lectureNo,
			question_writer questionWriter,
			question_title questionTitle,
			question_context questionContent,
			question_createdate questionCreateDate,
			question_updatedate questionUpdateDate,
			question_count questionCount,
			question_password questionPassword
		
		) VALUES (
			#{questionNo},
			#{lectureNo},
			#{questionWriter},
			#{questionTitle},
			#{questionContent},
			NOW(),
			NOW(),
			#{questionCount},
			#{questionPassword}
		)	
	</insert>
	
	
	<!-- 학생의 질문 수정 폼 -->
	<select id="updateQuestionForm" parameterType="int" resultType="gd.fintech.lms.student.vo.Question">
		SELECT
			question_no questionNo,
			Lecture_no lectureNo,
			account_id accountId,
			question_writer questionWriter,
			question_title questionTitle,
			question_context questionContent,
			question_createdate questionCreateDate,
			question_updatedate questionUpdateDate,
			question_count questionCount
		FROM
			question
		WHERE question_no=#{questionNo}
	</select>
	
	<!-- 학생의 질문 수정 -->
	<update id="updateQuestion" parameterType="gd.fintech.lms.student.vo.Question">
		UPDATE question
		SET
			question_title=#{questionTitle},
			question_content=#{questionContent},
			question_updatedate=NOW()
		WHERE account_id=#{accountId}
	</update>
	
	<!-- 학생의 (자신의) 질문 삭제 -->
	<delete id="deleteQuestion" parameterType="String">
		DELETE FROM question WHERE account_id=#{accountId}
	</delete>
	
	
</mapper>