<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.student.mapper.ReportSubmitFileMapper">
	<!-- 과제제출 첨부파일 오리지널 파일 이름 -->
	<select id="selectReportSubmitFileOriginalName" parameterType="String" resultType="String">
		SELECT report_submit_file_original reportSubmitFileOriginal
		FROM report_submit_file
		WHERE report_submit_file_uuid = #{reportSubmitFileUUID}
	</select>
	
	<!-- 과제제출 첨부파일 입력 -->
	<insert id="insertReportSubmitFile" parameterType="gd.fintech.lms.student.vo.ReportSubmitFile">
		INSERT INTO report_submit_file(
			report_submit_file_uuid,
			report_submit_file_original,
			report_submit_no,
			report_submit_file_size,
			report_submit_file_type,
			report_submit_file_createdate
		) VALUES (
			#{reportSubmitFileUUID},
			#{reportSubmitFileOriginal},
			#{reportSubmitNo},
			#{reportSubmitFileSize},
			#{reportSubmitFileType},
			NOW()
		)
	</insert>
	<!--  과제제출 첨부파일 삭제 -->
	<delete id="deleteReportSubmitFile" parameterType="String">
		DELETE FROM report_submit_file
		WHERE report_submit_file_uuid = #{reportSubmitFileUUID}
	</delete>
	<!--  과제제출 첨부파일 다운로드 수 증가 -->
	<update id="updateReportSubmitFileCountOfDownload" parameterType="String">
		UPDATE report_submit_file
		SET report_submit_file_count = report_submit_file_count +1
		WHERE report_submit_file_uuid = #{reportSubmitFileUUID}
	</update>
</mapper>