<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.student.mapper.StudentMapper">
	
	
	
	<!-- 학생(내정보) 상세보기-->
	<select id="selectStudentOne" parameterType="String" resultType="gd.fintech.lms.student.vo.Student">
		SELECT
			account_id accountId,
			student_email studentEmail,
			student_name studentName,
			student_phone studentPhone,
			student_address_main studentAddressMain,
			student_address_sub studentAddressSub,
			student_gender studentGender,
			student_Image studentImage,
			student_accessdate studentAccessDate,
			student_updatedate studentUpdateDate,
			manager_id_access mangerIdAccess
		FROM 
			student
		ORDER BY account_id  DESC
	</select>
	
	<!-- 학생 정보 수정 폼 -->
	<select id="updateStudentForm" parameterType="String" resultType="gd.fintech.lms.student.vo.Student">
		SELECT
			account_id accountId,
			student_email studentEmail,
			student_name studentName,
			student_phone studentPhone,
			student_address_main studentAddressMain,
			student_address_sub studentAddressSub,
			student_gender studentGender,
			student_Image studentImage,
			student_accessdate studentAccessDate,
			student_updatedate studentUpdateDate
		FROM 
			student
		WHERE account_id=#{accountId}
	</select>
	
	<!-- 학생 정보 수정 액션-->
	<update id="updateStudent" parameterType="gd.fintech.lms.student.vo.Student" >
		UPDATE student
		SET
			student_email=#{studentEamil},
			student_name=#{studentName},
			student_Phone=#{studentPhone},
			student_address_main=#{studentAddressMain},
			student_address_sub=#{studentAddressSub},
			student_gender=#{studentGender},
			student_birth=#{studentBirth},
			student_address_main=#{studentAdressMain},
			student_address_sub=#{studentAdressSub}
			
		WHERE account_id=#{accountId}
	</update>
</mapper>

