<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.student.mapper.StudentMapper">

	
	<!-- 학생 회원가입시 필요한 기본정보 -->
	<insert id="insertStudentFromQueue" parameterType="java.util.Map">
		INSERT INTO student(
			account_id,
			student_email,
			student_name,
			student_phone,
			student_gender,
			student_birth,
			student_address_main,
			student_address_sub,
			student_accessdate,
			student_updatedate,
			manager_id_access
		) SELECT
			account_id,
			student_email,
			student_name,
			student_phone,
			student_gender,
			student_birth,				
			student_address_main,
			student_address_sub,
			NOW(),
			NOW(),
			#{managerIdAccess}
		FROM student_queue
		WHERE account_id= #{accountId}
	</insert>
	<!-- 학생(내정보) 상세보기-->
	<select id="selectStudentOne" parameterType="String" resultType="gd.fintech.lms.student.vo.Student">
		SELECT
			account_id accountId,
			student_email studentEmail,
			student_name studentName,
			student_phone studentPhone,
			student_address_main studentAddressMain,
			student_address_sub studentAddressSub,
			student_gender studentGender,
			student_Image studentImage,
			student_accessdate studentAccessDate,
			student_updatedate studentUpdateDate,
			manager_id_access mangerIdAccess
		FROM 
			student
		WHERE account_id=#{accountId}
		
	</select>
	
	
	<!-- 학생 정보 수정 액션-->
	<update id="updateStudent" parameterType="gd.fintech.lms.student.vo.Student" >
		UPDATE student
		SET
			student_name=#{studentName},
			student_Phone=#{studentPhone},
			student_address_main=#{studentAddressMain},
			student_address_sub=#{studentAddressSub},
			student_gender=#{studentGender},
			student_birth=#{studentBirth} 

		WHERE account_id=#{accountId}
	</update>
	
	
	
</mapper>

