<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.teacher.mapper.AttendanceMapper">
	<!-- 수강신청,학생,출석 테이블을 조인하여 학생들의 출석 상태 목록 -->
	<resultMap type="gd.fintech.lms.teacher.vo.Attendance" id="ResultTeacherAttendanceList">
		<result property="lectureNo" column="lecture_no"/>
		<result property="accountId" column="account_id"/>
		<result property="attendanceDay" column="attendance_day"/>
		<result property="attendanceCreateDate" column="attendance_createdate"/>
		<result property="attendanceUpdateDate" column="attendance_updatedate"/>
		<result property="attendanceState" column="attendance_state"/>
		<result property="attendanceRemark" column="attendance_remark"/>
		<collection property="studentList" ofType="gd.fintech.lms.student.vo.Student">
			<result property="studentName" column="student_name"/>
			<result property="studentPhone" column="student_phone"/>
			<result property="studentGender" column="student_gender"/>
			<result property="accountId" column="account_id"/>
		</collection>
		<collection property="classRegistrationList" ofType="gd.fintech.lms.student.vo.ClassRegistration">
			<result property="accountId" column="account_id" />
			<result property="lectureNo" column="lecture_no"/>
		</collection>
	</resultMap>
	<!-- 강좌별 학생 목록 메서드 -->
	<select id="selectAttendanceStudentList" parameterType="java.util.Map" resultMap="ResultTeacherAttendanceList">
		SELECT
			a.lecture_no,
			s.account_id, 
		 	s.student_name,
		 	s.student_phone, 
			s.student_gender, 
			a.attendance_day,
			a.attendance_state, 
			a.attendance_remark
		FROM class_registration cr
		LEFT OUTER JOIN
			student s ON cr.account_id = s.account_id
		LEFT OUTER JOIN
			attendance a ON cr.account_id = a.account_id 
			AND YEAR(a.attendance_day) = #{currentYear} 
			AND MONTH(a.attendance_day) = #{currentMonth} 
			AND DAY(a.attendance_day) = #{currentDay}
		WHERE
			(cr.class_registration_state = "수강중" OR
			cr.class_registration_state = "수료") AND
			cr.lecture_no = #{lectureNo}
		ORDER BY s.student_name
	</select>
	<!-- 출석에 필요한 학생 상세보기 -->
	<select id="selectAttendanceStudentOne" parameterType="java.util.Map" resultMap="ResultTeacherAttendanceList">
		SELECT 	
			a.account_id,
			a.lecture_no,
			a.attendance_state,
			a.attendance_remark,
			a.attendance_day,
			s.student_name,
			s.student_gender,
			s.student_phone,
			a.attendance_day
		FROM student s  LEFT JOIN attendance a
		ON a.account_id = s.account_id
		WHERE a.lecture_no = #{lectureNo}
		AND a.account_id = #{accountId}
	</select>
	<!-- 출석 상세보기 -->
	<select id="selectAttendanceOne" parameterType="java.util.Map" resultMap="ResultTeacherAttendanceList">
		SELECT 
			a.attendance_state,
			a.attendance_remark,
			a.attendance_day,
			s.student_name,
			s.student_gender,
			s.student_phone,
			s.account_id
		FROM class_registration cr LEFT JOIN attendance a
			ON cr.account_id = a.account_id
		LEFT JOIN lecture l
			ON cr.account_id = l.account_id
		LEFT JOIN student s
			ON cr.account_id = s.account_id
		WHERE cr.lecture_no = #{lectureNo}
		AND s.account_id = #{accountId}
		AND a.attendance_day = #{attendanceDay}
	</select>
	<!-- 출석 입력 -->
	<insert id="insertAttendance" parameterType="gd.fintech.lms.teacher.vo.Attendance">
		INSERT INTO attendance (
			lecture_no, 
			account_id, 
			attendance_day, 
			attendance_createdate, 
			attendance_updatedate, 
			attendance_state, 
			attendance_remark
		) VALUES (
			#{lectureNo}, 
			#{accountId}, 
			#{attendanceDay},
			NOW(), 
			NOW(), 
			#{attendanceState}, 
			#{attendanceRemark}
		)
	</insert>
	<!-- 출석 수정-->
	<update id="updateAttendance" parameterType="gd.fintech.lms.teacher.vo.Attendance">
		UPDATE attendance
		SET
			attendance_state = #{attendanceState}, 
			attendance_remark = #{attendanceRemark},
			attendance_updatedate = NOW()
		WHERE account_id = #{accountId}
			AND	lecture_no = #{lectureNo}
	</update>
</mapper>