<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.teacher.mapper.AttendanceMapper">
	<!-- 수강신청,학생,출석 테이블을 조인하여 학생들의 출석 상태 목록 -->
	<resultMap type="gd.fintech.lms.teacher.vo.Attendance" id="selectTeacherAttendanceListResult">
		<result property="accountId" column="account_id" />
		<result property="attendanceState" column="attendance_state" />
		<result property="attendanceRemark" column="attendance_remark" />
		<collection property="accountId" ofType="gd.fintech.lms.student.vo.Student">
			<result property="studentName" column="student_name" />
			<result property="studentGender" column="student_gender" />
		</collection>
	</resultMap>
	<select id="selectStudentList" parameterType="String" resultType="gd.fintech.lms.teacher.vo.Attendance" >
		SELECT
			cr.account_id, 
		 	s.student_name, 
			s.student_gender, 
			a.attendance_state, 
			a.attendance_remark
		FROM
			class_registration cr
		LEFT OUTER JOIN
			student s ON
			cr.account_id = s.account_id
		LEFT OUTER JOIN
			attendance a ON
			cr.account_id = a.account_id AND
		WHERE
			cr.class_registration_state = "수강중" OR
			cr.class_registration_state = "수료" AND
			cr.lecture_no = #{lectureNo}
		ORDER BY
			s.student_name
	</select>
	<!-- 출석 입력 -->
	<insert id="insertAttendance" parameterType="gd.fintech.lms.teacher.vo.Attendance">
		
	</insert>
	<!-- 출석 수정-->
	<update id="updateAttendance" parameterType="gd.fintech.lms.teacher.vo.Attendance">
		UPDATE
			attendance
		SET
			attendance_state = #{attendanceState}, 
			attendance_updatedate = NOW()
		WHERE
			lecture_no = 1 AND
			account_id = #{accountId} AND
			attendance_day = #{attendanceDays}
	</update>
</mapper>