<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.teacher.mapper.LectureArchiveFileMapper">
	<!-- 자료실 첨부파일 목록 -->
	<select id="selectLectureArchiveFileList" parameterType="String" resultType="gd.fintech.lms.teacher.vo.LectureArchiveFile">
		SELECT
			lecture_archive_file_uuid lectureArchiveFileUUID,
			lecture_archive_file_original lectureArchiveFileOriginal,
			lecture_archive_file_size lectureArchiveFileSize,
			lecture_archive_file_count lectureArchiveFileCount,
			lecture_archive_file_createdate lectureArchiveFileCreateDate
		FROM lecture_archive_file
		WHERE lecture_archive_file_uuid = #{lectureArchiveFileUUID}
	</select>
	<!-- 자료실 첨부파일 입력 -->
	<insert id="insertLectureArchiveFile" parameterType="gd.fintech.lms.teacher.vo.LectureArchiveFile">
		INSERT INTO lecture_archive_file (
			lecture_archive_file_uuid, 
			lecture_archive_file_original, 
			lecture_archive_no, 
			lecture_archive_file_size, 
			lecture_archive_file_type, 
			lecture_archive_file_createdate,
			lecture_archive_file_count
		) VALUES (
			#{lectureArchiveFileUUID}, 
			#{lectureArchiveFileOriginal},
			#{lectureArchiveNo}, 
			#{lectureArchiveFileSize}, 
			#{lectureArchiveFileType}, 
			NOW(),
			0
		)
	</insert>
	<!-- 자료실 첨부파일 삭제 -->
	<delete id="deleteLectureArchiveFile" parameterType="String">
		DELETE FROM lecture_archive_file
		WHERE lecture_archive_no = #{archiveNo}
	</delete>
	<!-- UUID에 해당되는 파일의 다운로드 횟수 1 증가 쿼리 -->
	<update id="updateLectureArchiveFileCountIncrease" parameterType="String">
		UPDATE lecture_archive_file
		SET
			lecture_archive_file_count = lecture_archive_file_count + 1
		WHERE lecture_archive_file_uuid = #{lectureArchiveFileUUID}
	</update>
</mapper>