<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.teacher.mapper.MultipleChoiceMapper">
	<!-- 객관식 문제 및 보기 출력 쿼리 및 VO에 조인 결과를 한번에 담기 위한 resultMap -->
	<resultMap type="gd.fintech.lms.teacher.vo.MultipleChoice" id="resultMultipleChoiceList">
		<result property="multipleChoiceNo" column="multiplechoice_no" />
		<result property="lectureNo" column="lecture_no" />
		<result property="multipleChoiceQuestion" column="multiplechoice_question" />
		<result property="multipleChoiceScore" column="multiplechoice_score" />
		<result property="multipleChoiceCreateDate" column="multiplechoice_createdate" />
		<result property="multipleChoiceUpdateDate" column="multiplechoice_updatedate" />
		<collection property="multipleChoiceExampleList" ofType="gd.fintech.lms.teacher.vo.MultipleChoiceExample">
			<result property="multipleChoiceExampleNo" column="multiplechoice_example_no" />
			<result property="multipleChoiceExampleId" column="multiplechoice_example_id" />
			<result property="multipleChoiceExampleContent" column="multiplechoice_example_content" />
			<result property="multipleChoiceExampleCreateDate" column="multiplechoice_example_createdate" />
			<result property="multipleChoiceExampleUpdateDate" column="multiplechoice_example_updatedate" />
		</collection>
	</resultMap>
	<select id="selectMultipleChoiceList" parameterType="int" resultMap="resultMultipleChoiceList">
		SELECT
			m.multiplechoice_no,
			m.lecture_no,
			m.multiplechoice_id,
			m.multiplechoice_question,
			m.multiplechoice_score,
			m.multiplechoice_createdate,
			m.multiplechoice_updatedate,
			me.multiplechoice_example_no,
			me.multiplechoice_example_id,
			me.multiplechoice_example_content,
			me.multiplechoice_example_createdate,
			me.multiplechoice_example_updatedate
		FROM multiplechoice m
			LEFT JOIN multiplechoice_example me
				ON m.multiplechoice_no = me.multiplechoice_no
		WHERE m.lecture_no = #{lecture_no}
	</select>
	
	<!-- 단일 객관식 문제 정보 출력 쿼리 -->
	<select id="selectMultipleChoiceDetail" parameterType="int" resultType="gd.fintech.lms.teacher.vo.MultipleChoice">
		SELECT
			multiplechoice_no multipleChoiceNo,
			lecture_no lectureNo,
			multiplechoice_id multipleChoiceId,
			multiplechoice_question multipleChoiceQuestion,
			multiplechoice_answer multipleChoiceAnswer,
			multiplechoice_score multipleChoiceScore,
			multiplechoice_createdate multipleChoiceCreateDate,
			multiplechoice_updatedate multipleChoiceUpdateDate
		FROM multiplechoice
		WHERE multiplechoice_no = #{multipleChoiceNo}
	</select>
	
	<!-- 객관식 문제 갯수 출력 쿼리 -->
	<select id="selectMultipleChoiceCount" parameterType="int" resultType="int">
		SELECT
			COUNT(*)
		FROM multiplechoice
		WHERE lecture_no = #{lecture_no}
	</select>
	
	<!-- 객관식 문제 생성 쿼리 -->
	<insert id="insertMultipleChoice" parameterType="gd.fintech.lms.teacher.vo.MultipleChoice">
		<selectKey resultType="int" keyProperty="multipleChoiceNo" order="AFTER">
	  		SELECT LAST_INSERT_ID()
	  	</selectKey>
		INSERT INTO multiplechoice (
			lecture_no,
			multiplechoice_id,
			multiplechoice_question,
			multiplechoice_answer,
			multiplechoice_score,
			multiplechoice_createdate,
			multiplechoice_updatedate
		) VALUES (
			#{lectureNo},
			#{multipleChoiceId},
			#{multipleChoiceQuestion},
			#{multipleChoiceAnswer},
			#{multipleChoiceScore},
			NOW(),
			NOW()
		)
	</insert>
	
	<!-- 객관식 문제 수정 쿼리 -->
	<update id="updateMultipleChoice" parameterType="gd.fintech.lms.teacher.vo.MultipleChoice">
		UPDATE multiplechoice
		SET
			multiplechoice_id = #{multipleChoiceId},
			multiplechoice_question = #{multipleChoiceQuestion},
			multiplechoice_answer = #{multipleChoiceAnswer},
			multiplechoice_score = #{multipleChoiceScore},
			multiplechoice_updatedate = NOW()
		WHERE multiplechoice_no = #{multipleChoiceNo}
	</update>
	
	<!-- 해당 문제번호 이후의 문제번호 차감 쿼리 -->
	<update id="updateMultipleChoiceIdSubstractBelow" parameterType="int">
		UPDATE multiplechoice
		SET
			multiplechoice_id = multiplechoice_id - 1
		WHERE multiplechoice_id > ${originId}
	</update>
	
	<!-- 객관식 문제 삭제 쿼리 -->
	<delete id="deleteMultipleChoice" parameterType="int">
		DELETE FROM multiplechoice
		WHERE multiplechoice_no = #{multipleChoiceNo}
	</delete>
</mapper>