<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.teacher.mapper.QuestionCommentFileMapper">
	<!-- UUID를 이용해 원본 파일명 출력 쿼리 -->
	<select id="selectQuestionCommentFileDetail" parameterType="String" resultType="gd.fintech.lms.teacher.vo.QuestionCommentFile">
		SELECT
			question_comment_file_uuid questionCommentFileUUID,
			question_comment_file_original questionCommentFileOriginal,
			question_comment_no questionCommentNo,
			question_comment_file_size questionCommentFileSize,
			question_comment_file_type questionCommentFileType,
			question_comment_file_createdate questionCommentFileCreateDate
		FROM question_comment_file
		WHERE question_comment_file_uuid = #{questionCommentFileUUID}
	</select>
	
	<!-- UUID에 해당되는 파일의 다운로드 횟수 1 증가 쿼리 -->
	<update id="updateQuestionCommentFileCountIncrease" parameterType="String">
		UPDATE question_comment_file
		SET
			question_comment_file_count = question_comment_file_count + 1
		WHERE question_comment_file_uuid = #{questionCommentFileUUID}
	</update>
	
	<!-- 질문게시판 댓글의 첨부파일 생성 쿼리 -->
	<insert id="insertQuestionCommentFile" parameterType="gd.fintech.lms.teacher.vo.QuestionCommentFile">
		INSERT INTO question_comment_file (
			question_comment_file_uuid,
			question_comment_file_original,
			question_comment_no,
			question_comment_file_size,
			question_comment_file_type,
			question_comment_file_createdate
		) VALUES (
			#{questionCommentFileUUID},
			#{questionCommentFileOriginal},
			#{questionCommentNo},
			#{questionCommentFileSize},
			#{questionCommentFileType},
			NOW()
		)
	</insert>
	
	<!-- 질문게시판 댓글의 첨부파일 삭제 쿼리 -->
	<delete id="deleteQuestionCommentFile" parameterType="String">
		DELETE FROM question_comment_file
		WHERE question_comment_file_uuid = #{questionCommentFileUUID}
	</delete>
</mapper>