<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.teacher.mapper.SyllabusMapper">
	<!-- 강의계획서 resultMap -->
	<resultMap type="gd.fintech.lms.teacher.vo.Syllabus" id="resultSyllabusDetail">
		<result property="lectureNo" column="lecture_no"/>
		<result property="accountId" column="account_id"/>
		<result property="syllabusWriter" column="syllabus_writer"/>
		<result property="syllabusContent" column="syllabus_content"/>
		<result property="syllabusTeacherSign" column="syllabus_teachersign"/>
		<result property="syllabusTeacherSignDate" column="syllabus_teachersign_date"/>
		<result property="syllabusManagerSign" column="syllabus_managersign"/>
		<result property="syllabusManagerSignDate" column="syllabus_managersign_date"/>
		<result property="syllabusCreateDate" column="syllabus_createdate"/>
		<result property="syllabusUpdateDate" column="syllabus_updatedate"/>
		<collection property="syllabusFileList" ofType="gd.fintech.lms.teacher.vo.SyllabusFile">
			<result property="syllabusFileUUID" column="syllabus_file_uuid"/>
			<result property="syllabusFileOriginal" column="syllabus_file_original"/>
			<result property="lectureNo" column="lecture_no"/>
			<result property="syllabusFileSize" column="syllabus_file_size"/>
			<result property="syllabusFileType" column="syllabus_file_type"/>
			<result property="syllabusFileCreateDate" column="syllabus_file_createDate"/>
			<result property="syllabusFileCount" column="syllabus_file_count"/>
		</collection>
	</resultMap>
	
	<!-- 강의계획서를 출력하는 쿼리문 -->
	<select id="selectSyllabusDetail" parameterType="int" resultMap="resultSyllabusDetail">
		SELECT
			s.lecture_no,
			s.account_id,
			s.syllabus_writer,
			s.syllabus_content,
			s.syllabus_teachersign,
			s.syllabus_teachersign_date,
			s.syllabus_managersign,
			s.syllabus_managersign_date,
			s.syllabus_createdate,
			s.syllabus_updatedate,
			sf.syllabus_file_uuid,
			sf.syllabus_file_original,
			sf.syllabus_file_size,
			sf.syllabus_file_type,
			sf.syllabus_file_createdate,
			sf.syllabus_file_count
		FROM syllabus s
		LEFT OUTER JOIN syllabus_file sf
		ON s.lecture_no = sf.lecture_no
		WHERE s.lecture_no = #{lectureNo}
	</select>
	
	<!-- 강사가 강의계획서를 작성하는 쿼리문 -->
	<insert id="insertSyllabus" parameterType="gd.fintech.lms.teacher.vo.Syllabus">
		<selectKey resultType="int" keyProperty="lectureNo" order="AFTER">
			select #{lectureNo}
		</selectKey>
		INSERT INTO syllabus (
			lecture_no,
			account_id,
			syllabus_writer,
			syllabus_content,
			syllabus_createdate,
			syllabus_updatedate
		) VALUES (
			#{lectureNo},
			#{accountId},
			#{syllabusWriter},
			#{syllabusContent},
			NOW(),
			NOW()
		)
	</insert>
	
	<!-- 강사가 강의계획서 내용을 수정(수정 시 서명을 전부 취소)하는 쿼리문 -->
	<update id="updateSyllabus" parameterType="gd.fintech.lms.teacher.vo.Syllabus">
		UPDATE syllabus
		SET
			syllabus_content = #{syllabusContent},
			syllabus_teachersign = NULL,
			syllabus_teachersign_date = NULL,
			syllabus_managersign = NULL,
			syllabus_managersign_date = NULL,
			syllabus_updatedate = NOW()
		WHERE lecture_no = #{lectureNo}
	</update>
	
	<!-- 강사의 이름을 출력하는 쿼리문 -->
	<select id="selectTeacherName" parameterType="String" resultType="String">
		SELECT
			teacher_name teacherName
		FROM teacher
		WHERE account_id = #{accountId}
	</select>

	<!-- 강사가 강의계획서를 서명하는 쿼리문 -->
	<update id="updateTeacherSign" parameterType="gd.fintech.lms.teacher.vo.Syllabus">
		UPDATE syllabus
		SET
			syllabus_teachersign = #{syllabusTeacherSign},
			syllabus_teachersign_date = NOW()
		WHERE lecture_no = #{lectureNo}
	</update>
	
	<!-- 운영자가 강의계획서에 서명하는 쿼리문 -->
	<update id="updateManagerSign" parameterType="gd.fintech.lms.teacher.vo.Syllabus">
		UPDATE syllabus
		SET
			syllabus_managersign = #{syllabusManagerSign},
			syllabus_managersign_date = NOW()
		WHERE lecture_no = #{lectureNo}
	</update>
</mapper>