<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.account.mapper.AddressMapper">
	<!-- 주소 정보 조회 쿼리문 -->
	<select id="getAddressByZipCode" parameterType="java.util.Map" resultType="gd.fintech.lms.account.vo.Address">
		SELECT 
			id ID,
			zip_code zipCode,
			province province,
			city city,
			town town,
			street street
		FROM address
		WHERE zip_code = #{zipCode}
		ORDER BY id DESC
		LIMIT #{beginRow},#{rowPerPage}
	</select>
	<!-- 주소 전체 정보 목록  -->
	<select id="getSelectAddressByPage" parameterType="java.util.Map" resultType="gd.fintech.lms.account.vo.Address">
			SELECT 
			id ID,
			zip_code zipCode,
			province province,
			city city,
			town town,
			street street
		FROM address
		ORDER BY id ASC
		LIMIT #{beginRow},#{rowPerPage}
	</select>
	<!-- 페이징 카운트 -->
	<select id="selectAddressCount" resultType="int">
		SELECT COUNT(*) addressCount
		FROM address
	</select>
</mapper>