<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.account.mapper.LoginLogMapper">
	<!-- 로그인 정보를 조회하는 쿼리 -->
	<select id="selectLoginLogByAccountId" parameterType="String" resultType="gd.fintech.lms.account.vo.LoginLog">
		SELECT 
			account_id accountId,
			login_datetime loginDateTime,
			logout_datetime logoutDateTime
		FROM login_log
		WHERE account_id = #{accountId}
		ORDER BY logout_datetime DESC
	</select>
	
	<!-- 로그인 정보를 입력하는 쿼리 -->
	<insert id="insertLoginLogByAccountId" parameterType="gd.fintech.lms.account.vo.LoginLog">
		INSERT INTO login_log(
			login_id,
			account_id,
			login_datetime
		)VALUES(
			#{loginId},
			#{accountId},
			NOW()
		)
	</insert>
	
	<!-- 로그아웃 정보를 수정하는 쿼리 -->
	<update id="updateLogoutDateTimeByLoginId" parameterType="String">
		UPDATE login_log
		SET logout_datetime = NOW()
		WHERE login_id = #{loginId}
	</update>
</mapper>