<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.admin.mapper.MemberMapper">
	<!-- 계정 조회를 위한 쿼리문 -->
	<select id="selectMemberById" parameterType="gd.fintech.lms.account.vo.Account" resultType="gd.fintech.lms.account.vo.Account">
		SELECT 
			account_id accountId, 
			account_level accountLevel
		FROM account
		WHERE account_id = #{accountId}
		AND account_pw = PASSWORD(#{accountPw})
	</select>
</mapper>