<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.admin.mapper.AdminMapper">
	<!-- 관리자의 개인정보를 출력하는 쿼리문 -->
	<select id="selectAdmin" parameterType="String" resultType="gd.fintech.lms.admin.vo.Admin">
		SELECT
			account_id accountId,
			admin_email adminEmail,
			admin_phone adminPhone,
			admin_name adminName
		FROM admin
		WHERE account_id = #{accountId}
	</select>
	
	<select id="selectAdminName" parameterType="String" resultType="String">
		SELECT
			admin_name adminName
		FROM admin
		WHERE account_id = #{accountId}
	</select>
</mapper>